<mat-toolbar color="primary">
    <span>{{ 'HEADER.TITLE' | translate }}</span>
    <span class="spacer"></span>

    <div class="center-nav" *ngIf="currentUser">
        <button mat-button routerLink="/home">{{ 'HEADER.HOME' | translate }}</button>
        <button mat-button routerLink="/mongodb">{{ 'HEADER.MONGODB' | translate }}</button>
        <button mat-button routerLink="/public-apis">{{ 'HEADER.PUBLIC_APIS' | translate }}</button>
        <button mat-button routerLink="/websocket">{{ 'HEADER.WEBSOCKET' | translate }}</button>
        <button mat-button routerLink="/cache-analytics">{{ 'HEADER.CACHE_ANALYTICS' | translate }}</button>
    </div>

    <span class="spacer"></span>

    <ng-container *ngIf="currentUser">
        <app-language-switcher></app-language-switcher>
        <span class="username">{{ currentUser.username }}</span>
        <button mat-icon-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </ng-container>
</mat-toolbar>
