<div class="page-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'HOME.WELCOME' | translate }}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content *ngIf="currentUser">
      <p>{{ 'HOME.LOGGED_IN_AS' | translate }} <strong>{{ currentUser.username }}</strong></p>
      <p>{{ 'HOME.EMAIL' | translate }} <strong>{{ currentUser.email }}</strong></p>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="logout()">{{ 'HOME.LOGOUT_BUTTON' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</div>
